:root {
    --color-slate-300: #b5bdc6;
    --color-slate-600: #475569;
    --color-slate-700: #334155;

    --color-grey-300: #d1d5db;

    --color-red-600: #dc2626;

    --color-yellow-300: #FFD814;
    --color-yellow-400: #facc15;

    --color-blue-500: #3b82f6;
    --color-blue-600: #2563eb;

    --color-links: var(--color-blue-500);
}
